*.npy
*.mdl
*.pth
*.pt
*.txt
.idea/
*.log
*.bin
*.out
*.csv
*.pyc
*.tsv
*.swp
.idea/
__pycache__/
.results/
jupyter_notebooks/.ipynb_checkpoints/
*.pth
.vscode/
.data/
.ipynb_checkpoints/
*.model
*.vocab
bpe-all.*
synth-bpe-all.*
core.*
*.pdf
*.json
